<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline
    <select name="Airline">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      <option value="Sprit">Sprit</option>
      <option value="Delta">Delta</option>
    </select>
  </label><br>
  <label>Airport
    <select name="Airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>FlightNo:
    <input type="number" name="FlightNo">
  </label><br>
  <label>Departs
    <input type="date" name="Departs">
  </label><br>
  <label>Now Boardinging:</label>
  <input type="checkbox" name="nowBoarding" checked><br>
  <input type="submit" value="Add Flight">
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>